<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body class="dark">
    <p>
      Unable to process input. Check to make sure you have formatted your paste
      correctly!
    </p>
    <p>
      <a href="./">homepage</a>
    </p>
  </body>
</html>
